body {
	background-color: white;
}

.main {
	font-family: var(--primary-font);
	display: block;
	font-size: 20px;
}

.footer__button {
	border: 2px solid black;
	font-weight: var(--grotesk-medium-weight);
	padding: 1rem 3rem;
	border-radius: 25px;
	margin-right: 1rem;
}

.our-story:hover {
	background: var(--lime);
}

.faqs:hover {
	background: var(--yellow);
}

.account:hover {
	background: var(--light-pink);
}