.cta {
	display: flex;
	padding: 170px 8rem 50px 8rem;
	margin: auto;
	align-items: center;
	max-width: 1600px;
}

.cta__left-side {
	display: flex;
	/* width: 70%; */
	flex-direction: column;
	gap: 40px;
	z-index: 15;
}

.cta__title {
	font-size: 4rem;
	font-weight: var(--grotesk-medium-weight);
}

.cta__subtitle {
	font-size: 1.75rem;
}

#cta-button:hover {
	border: black 2px solid;
	color: black;
	background: var(--yellow);
}

.cta__right-side {
	position: relative;
	z-index: 10;
	justify-content: flex-end;
}

@media screen and (max-width: 1120px) {
	.cta {
		padding: 170px 1rem 50px;
	}

	.cta__title {
		font-size: 30px;
	}
	
	.cta__right-side {
		display: none;
	}
}