.cart__main {
	font-family: var(--primary-font);
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin: 150px 5rem 50px;
	padding: 3rem 10rem;
	gap: 10px;
}

/* .cart__items-container {

} */

.cart__items-title {
	font-size: 24px;
	font-weight: var(--grotesk-medium-weight);
}

/* .cart__items {

} */

.cart__item-element {
	display: flex;
	gap: 2rem;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 1rem 0 1rem 1rem;
}

.cart__item-image {
	height: 120px;
	width: 120px;
	background: linear-gradient(180deg,var(--softer-dark-green) 0,var(--lime) 100%);
	border-radius: 100%;
}

.cart__item-title {
	font-size: 1.5rem;
	font-weight: var(--grotesk-medium-weight);
}

.cart__item-numbers {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.cart__item-cost {
	font-size: 1.5rem;
	align-self: flex-end;
	font-weight: var(--grotesk-medium-weight);
}

/* .cart__Item-quantity {
	
} */

/* Cart summary container */

.cart__summary-container {
	width: 30%;
	min-width: 325px;
	padding: 1.35rem 1rem;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
}

.cart__summary-subtotal {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;
}

.cart__summary-check-out {
	display: flex;
	justify-content: center;
}

.cart__summary-check-out-button {
	justify-content: center;
}

.cart__summary-buttons {
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: space-between;
}

.cart__summary-clear-cart {
	display: flex;
	justify-content: center;
}

.cart__summary-clear-cart-button {
	border: 2px solid black;
	background: white;
	color: black;
}

@media screen and (max-width: 800px) {
	.cart__main {
		display: grid;
		padding: 0;
	}
}